# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/vcs.xml

cmake-build-debug/
*.log
cmake-build-debug/CMakeFiles/GEO1004_ass_1.dir/compiler_depend.make
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/GEO1004_ass_1
